@import "./Header/header.scss";
@import "./Sections/sectionOne.scss";
@import "./Footer/footer.scss";

.App {

    border: 1px solid black;
    display: flex;
    // justify-content: center;
    // justify-content: space-around;
    // justify-content: space-between;
    // justify-content: space-evenly;
    // justify-content: start;
    flex-wrap: wrap;
    column-gap: 5px;

    width: 600px;
    height: 1000px;
    // align-items: stretch;
    // align-items: center;
    align-content: center;


}
